- name: Deploy to EC2 via SSH
  uses: appleboy/ssh-action@v1.0.3
  with:
    host: ${{ secrets.EC2_HOST }}
    username: ${{ secrets.EC2_USER }}
    key: ${{ secrets.EC2_SSH_KEY }}
    script: |
      echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      docker pull pavanparupalli/portfolio-website:latest

      docker stop portfolio || true
      docker rm portfolio || true

      docker run -d \
        --name portfolio \
        -p 80:80 \
        --restart always \
        pavanparupalli/portfolio-website:latest
