name: CI Pipeline - Portfolio Website with Docker

on:
  push:
    branches:
      - main

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Verify files
        run: |
          ls -la
          test -f Dockerfile
          test -f index.html

      - name: Build Docker image
        run: |
          docker build -t portfolio-website .
