jobs:
  docker-cd:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t pavanparupalli/portfolio-website:latest .

      - name: Push Docker image
        run: |
          docker push pavanparupalli/portfolio-website:latest
